<div class="subject_new_display">
  <%= form_for @subject do |f| %>
  <div class="make-subject">
    <%= f.text_field :title %><br>
  </div>
  <div class="word_boxes" data-count="5">
    <% @subject.words.each_with_index do |word, index| %>
      <%= f.fields_for :words, word do |s| %>
        <div class="word_set">
          <span class="word_box__index">
            <%= index + 1 %>
          </span>
          <div class="word_box__left">
            <%= s.text_field :face, class: "word_box" %>
            表
          </div>
          <div class="word_box__right">
            <%= s.text_field :flip, class: "word_box" %>
            裏
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div class="add_card">
      <div class="add_card__wrapper">
        <span>カードを追加</span>
      </div>
    </a>
    <%= f.submit "編集する", class: "button--create-subject"%>
  <% end %>
</div>
