
<div class="wrapper">
  <%= render partial: "leftindex" %>
  <div class="right-content">
    <!-- ここにsubjects一覧 -->
    <h1>科目一覧</h1>
    <% @subjects.each do |subject| %>
      <%= link_to subject_path(subject.id) do %>
        <div class="subject-box">
          <span><%= subject.words.count %>用語</span>
          <span><%= subject.user.name %></span>
          <div class="">
            <%= subject.title %>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
<div class="modal-form">
  <div class="modal-header">
    <div class="modal-header-wrapper">
        <h3>新規フォルダを作成</h3>
        <span>×</span>
    </div>
  </div>
  <div class="modal-body">
    <div class="modal-body-main">
      <%= form_for @folder  do |f| %>
        <div class="modal-body-main__input">
          <%= f.text_field :title, placeholder: "タイトル" %>
        </div>
        <%= f.submit "フォルダを作成する", class: "submit-folder" %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-bg">
</div>
