<div class="top-content">
  <div class="subject-head">
    <span><%= @subject.words.count %>個の用語</span>
    <span><%= @subject.user.name %></span>
  </div>
  <h1><%= @subject.title %></h1>
  <p>〜〜フォルダの中に入っています。</p>
  <div class="">
    編集用のアイコンなどほか多数
  </div>
</div>

<div class="bottom-content">
  <% @subject.words.each do |word| %>
    <div class="saved-word">
      <div class="saved-word__left">
        <span class=""><%= word.face %></span>
      </div>
      <div class="saved-word__right">
        <span class="saved-word__right__flip">
          <%= word.flip %>
        </span>
        <span class="saved-word__right__edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <% if word.image_url %>
          <span class="saved-word__right__image"><%= image_tag word.image_url %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to edit_subject_path(@subject) do%>
    <input type="button" value="用語を削除・編集する" class="edit-saved-word">
  <% end %>
</div>
